<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cuenta reactivada</title>
  <style>
        .header {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
        }
        .content {
            padding: 20px;
        }
        .footer {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
        }
  </style>
</head>
<body>
  <div class="header">
    <img src="cid:logoImage" alt="Logo">
  </div>
  <div class="content">
    <p>
      Nos comunicamos con usted para informarle que su cuenta de la
      <span style="font-weight: bold; font-size: 15px;"> aplicación de NOMBRE</span>
      fue reactivada.
    </p>
    <br>
    <p>
      Ya puede ingresar nuevamente con su usuario y su contraseña habitual.
      Su contraseña no ha cambiado.
    </p>
    <br>
    <p>
      Si no recuerda su contraseña, utilice la opción de recuperación al iniciar sesión.
    </p>
    <br>
    <p>
      Muchas gracias, seguimos en contacto. <br/>
      Equipo NOMBRE
    </p>
  </div>
  <div class="footer">
    <span>
      Si tenés alguna consulta, no dudes en escribinos a:
      <!-- <a href="mailto:soporte@company.com.ar" th:text="${data.supportMail}"></a> -->
      MAIL
    </span>
  </div>
</body>
</html>